# Virtual Environment
venv/

# Data files
data/raw/
data/processed/

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Models
models/*.pkl
models/*.h5
models/*.joblib

# Logs
*.log
